@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 6em;
}

.card-header {
  background-color: rgb(123, 191, 255);
}

.red {
  background-color: rgb(255, 176, 176);
}

.red:focus {
  background-color: rgb(255, 196, 196);
}

.green-border {
  border: 2px solid green;
}

.error-message {
  color: rgb(163, 27, 27);
}

.hidden {
  display: none;
}
